$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary: #32CD32,
  secondary: #90EE90,
  danger: #ff5c5c,
  light: #75C4FD,
  dark: #4c6df9
);


$toolbar-md-background: color($colors, dark);
$toolbar-ios-background: color($colors, dark);
$toolbar-wp-background: color($colors, dark);