cartao {
    height: 10px;
    width: 50px;
}

.imagem{
    height: 130px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}